<html>
    <head>
    </head>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/LayoutSach.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <body>
        <div class="container" id="myContainer">
            <header id="mybanner" class="clearfix">
                <div class="cart">
                    <a href="#"  >
                        <i class="fa fa-shopping-cart " style="color: black;" ></i>
                    </a>
                </div> 
                <div id="menunav1" class="clearfix" >
                    <nav class="float-right">
                        <ul>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Logout</a></li>
                            <li><a href="#">Register</a></li>
                        </ul>
                    </nav>
                <h2 id="Namebook"><span id="nnp">NNP</span>BOOK</h2>                        
                </div>
            </header>

                <h2 class="text-center">Giỏ hàng</h2>
                <div class="container"> 
                    <table id="cart" class="table table-hover table-condensed"> 
                        <thead> 
                            <tr id="thanhcongcu" style="color: #264F73; background-color: #EFF4F5; font-size: 18px;" > 
                                <th >Tên sản phẩm</th> 
                                <th >Giá</th> 
                                <th >Số lượng</th> 
                                <th class="text-center">Thành tiền</th> 
                                <th > </th> 
                            </tr> 
                        </thead> 
        
                    <tbody> 
                        <tr> 
                            <td data-th="Product" > 
                                <div class="row"> 
                                <div class="col-sm-2 hidden-xs"><img src="../images/43511aee7d55ebc871d94aaa03e049cd.jpg" alt="Sản phẩm 1" class="img-responsive" width="100">
                                </div> 
                                <div class="col-sm-10"> 
                                <h4 class="text-center" style="color: #264F73;  font-size: 20px;">Sản phẩm 1</h4> 
                                 
                                </div> 
                                </div> 
                            </td> 
                            <td data-th="Price" >150.000 đ</td> 
                            <td data-th="Quantity"><input class="form-control text-center" value="1" type="number" style="width: 150px;"> </td> 
                            <td data-th="Subtotal" class="text-center">100.000 đ</td> 
                            <td class="actions" data-th=""> 
                                <button class="btn btn-danger btn-sm" style="background-color: #BE2623"><i class="fa fa-trash-o" ></i> 
                                </button>
                            </td> 
                        </tr> 
        
                        <tr> 
                            <td data-th="Product"> 
                                <div class="row"> 
                                    <div class="col-sm-2 hidden-xs"><img src="../images/toi-tai-gioi-ban-cung-the-ebook-pdf.jpg" alt="Sản phẩm 1" class="img-responsive" width="100">
                                    </div> 
                                    <div class="col-sm-10"> 
                                    <h4 class="text-center" style="color: #264F73; font-size: 20px;">Sản phẩm 2</h4> 
                                    
                                    </div> 
                                </div> 
                            </td> 
                            <td data-th="Price">150.000 đ</td> 
                            <td data-th="Quantity"><input class="form-control text-center" value="1" type="number" style="width: 150px; ">
                            </td> 
                            <td data-th="Subtotal" class="text-center">200.000 đ</td> 
                            <td class="actions" data-th="">
                                <button class="btn btn-danger btn-sm" style="background-color: #BE2623"><i class="fa fa-trash-o"></i> 
                                </button>
                            </td> 
                        </tr> 
                    </tbody>
                    
                    <tfoot> 
                        
                        <tr> 
                            <td><a href="../html/WEBSACH.html" class="btn btn-warning" style="background-color: #BE2623; color: white; border: #EFF4F5;"><i class="fa fa-angle-left" ></i> Tiếp tục mua hàng</a> </td> 
                            <td colspan="2" class="hidden-xs"> </td> 
                            <td class="hidden-xs text-center" style="font-size: 17px;"><strong>Tổng tiền 300.000 đ</strong> </td> 
                            <td><a href="../html/WEBSACH.html"  class="btn btn-success btn-block" style="background-color: #BE2623; color: white; border: #EFF4F5">Thanh toán <i class="fa fa-angle-right"></i></a> </td> 
                        </tr> 
                    </tfoot> 
                    
            
                    </table>
                </div> 
                       
            </div>

    </body>
    
</html>