<html>
    <head>
    </head>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/LayoutSach.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <body>
        <div class="container" id="myContainer">
            <header id="mybanner" class="clearfix">
                <div class="cart">
                    <a href="#"  >
                        <i class="fa fa-shopping-cart " style="color: black;" ></i>
                    </a>
                </div> 
                <div id="menunav1" class="clearfix" >
                    <nav class="float-right">
                        <ul>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Logout</a></li>
                            <li><a href="#">Register</a></li>
                        </ul>
                    </nav>
                <h2 id="Namebook"><span id="nnp">NNP</span>BOOK</h2>                        
                </div>
                </header>

            <div id="menunav" class="clearfix" >
                <nav class="float-left">
                    <ul>
                        <li><a href="#">Danh mục sách </a></li>
                        <li></li>
                    </ul>
                </nav>

                <form>
                    <input type="text" name="Search" placeholder="Tìm kiếm tựa sách, tác giả... ">
                    <button id="iconSearch" class="icon"><i class="icon"></i>Search</button>
                </form>
            </div>
            
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-4 col-12"> MENU trái </div>
                <div class="col-xl-10 col-lg-9 col-md-8 col-12"> Content </div>
            </div>  

            <div id="trống" class="cottrong">
                <ul>
                    <li><a href="#">Sách bán chạy</a></li>
                    <li><a href="#">Sách mới phát hành</a></li>
                    <li><a href="#">Combo ưu đãi</a></li>
                    <a></a>
                    <a>THỂ LOẠI</a>
                    <li><a href="#">Truyện tranh</a></li>
                    <li><a href="#">Tiểu thuyết</a></li>
                    <li><a href="#">Tản văn</a></li>
                    <li><a href="#">Báo chí</a></li>

                    <a></a>

                </ul>  
                   
            </div>
            

        </div>    

    </body>
</html>